@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--paletteColor3);
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #0b2e50;
  --white-1: #fff;
  --white-2: #FAFBFC;

  --paletteColor1: #2872fa;
  --paletteColor2: #1559ed;
  --paletteColor3: #22282c;
  --paletteColor4: #222F5A;
  --paletteColor5: #e1e8ed;
  --paletteColor6: #f2f5f7;
  --paletteColor7: #FAFBFC;
  --paletteColor8: #fff;

  --height-header: 80px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: 100px;
}

.header-menu-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.header-menu-actions a {
  margin-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.images-container, .view-images-container {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-align: center;
}

.view-images-container img{
  padding: 5px;
  width: auto;
  height: 240px;
  border-radius: 0.25rem;
}

.images-container img {
  padding: 5px;
  width: auto;
  height: 200px;
  border-radius: 0.25rem;
}

.leaflet-container {
  border-radius: 12px;
}

.map-popup .leaflet-popup-content {
  margin: 0;
}

.map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: none;
}

.map-popup .leaflet-popup-content .map-popup-info,
.map-popup .leaflet-popup-content .map-popup-share {
  color: var(--paletteColor3);
  ;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 12px;
}


.map-popup .leaflet-popup-content .map-popup-share {
  display: flex;
  align-items: center;
}

.map-popup .leaflet-popup-content .map-popup-share span {
  font-size: 11px;
}

.map-popup .leaflet-popup-content .map-popup-share button {
  margin-left: 5px;
}

.map-popup .leaflet-popup-content .map-popup-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-popup .leaflet-popup-content .map-popup-info a {
  width: 40px;
  height: 40px;
  background: var(--color-primary);
  ;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map-popup .leaflet-popup-tip-container {
  display: none;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}